*{
    margin: 0 auto;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #dde1e7;

}
.neumorphism-1{
    height: 150px;
    width: 150px;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #ffffff73,3px 3px 5px rgba(94,104,121, .288);
}
.neumorphism-2{
    margin: 15px;
    height: 150px;
    width: 150px;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffff73,inset 3px 3px 5px rgba(94,104,121, .288);
}
.neumorphism-3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    height: 150px;
    width: 150px;
    background: #dde1e7;
    border-radius: 50%;
    box-shadow:  -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94,104,121, .288);
    position: relative;
}
.neumorphism-3:after{
    content: '';
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: inset -3px -3px 7px #ffffff73,inset 3px 3px 5px rgba(94,104,121, .288);
}
.neumorphism-4{
    margin: 15px;
    height: 150px;
    width: 150px;
    background: #dde1e7;
    border-radius: 5px;
    box-shadow:  -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94,104,121, .288);

}
.neumorphism-4:hover{
    box-shadow: inset -3px -3px 7px #ffffff73,inset 3px 3px 5px rgba(94,104,121, .288);
    transition: box-shadow 1s linear;

}

